{% extends "base.html" %}
	{% block header %}
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<p class="navbar-text"><a href="#" class="navbar-link">Dashboard</a></p>
			<p class="navbar-text navbar-right"><a href="{% url 'nway_logout' %}" class="navbar-link">Logout</a></p>
	  	</div>
	</nav>
	{% endblock header %}
	{% block main-container %}
	<div ng-controller="DashboardTabsCtrl" class="container">
  		<tabset>
    		<tab heading="Dashboard" active="active" >
      		Dashboard
    		</tab>
    		<tab heading="Add Item" >
          <div ng-include="'/static/vt/js/ngapp/tmplts/additemform.html'">
        </tab>
  		</tabset>
	</div>

	

{% endblock main-container %}

